.contact {
    border: 4px solid red;
    border-radius: 80px;
    background-color: aliceblue;
    width: 50%;
    height: 500px;
    margin-left: 25%;
    padding-left: 50px;
}

.btn {
    border-radius: 10px;
    text-decoration: none;
}

#write {
    padding-top: 2px;
}